<!doctype html>
<html ng-app="irc" lang="en" ng-controller="IrcCtrl">
  <head>
    <title>IRC</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <script src="http://documentcloud.github.io/underscore/underscore-min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.6.0/ui-bootstrap-tpls.min.js"></script>
    <script src="jquery.injectCSS.js"></script>
    <script type="text/javascript" src="chatbox.js"></script>
    <link rel="stylesheet" href="chatbox.css">
  </head>
  <body>
    <tabset>
      <tab ng-repeat="channel in channels"
           heading="{{channel.name}}"
           active=channel.active
           ng-click="tabClick($event, channel)">
        <div ng-controller="ChannelCtrl" ng-init="init(channel)">
          <section class="container">
            <div class="row">
              <div class="col col-sm-8" data-original-title title>
                <div ng-repeat="message in msgs">
                  <span ng-show="showTimestamp && message.showTimestamp">[{{message.timestamp.toLocaleTimeString()}}] </span>
                  <span ng-hide="message.sysmsg" class="loud btn nick user-{{message.sender}}">{{message.sender}}</span>
                  <span ng-class="{sysmsg: message.sysmsg, slashme: message.me}">{{message.msg}}</span>
                </div>
              </div>
              <div class="col col-sm-4" data-original-title title>
                <div ng-repeat="person in channelgoers[2]">
                  <span class="loud btn nick user-{{person.nick}}">
                    <i class="icon-certificate"></i>
                    {{person.nick}}
                  </span>
                </div>
                <div ng-repeat="person in channelgoers[1]">
                  <span class="loud btn nick user-{{person.nick}}">
                    <i class="icon-bullhorn"></i>
                    {{person.nick}}
                  </span>
                </div>
                <div ng-repeat="person in channelgoers[0]">
                  <span class="loud btn nick user-{{person.nick}}">
                    {{person.nick}}
                  </span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col col-sm-12" data-original-title title>
                <form class="form-horizontal">
                  <input class="chat-input" type="text" ng-model="messageInput" ng-keydown="tabComplete"></input>
                  <button class="btn" ng-click="sendMessage()"><i class="icon-ok-sign"></i></button>
                  <button class="btn" ng-click="toggleTimestamp()"><i class="icon-time"></i></button>
                </form>
              </div>
            </div>
          </section>
        </div>
      </tab>
    </tabset>
  </body>
</html>
